body {
    background-color: azure;
}
nav {
	background-color: black;
	margin: -10px;
	padding: 1px;
}
.nav-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	padding-left: 80px;
}
.nav-flex-item {
	list-style-type: none;
	margin-right: 30px;
	margin-left: 30px;
}
.nav-flex-item.logo {
	margin-left: -50px;
	margin-right: 850px;
}
header
{
 	text-align: center;
 	background-image: url(../images//1.png);
 	height: 100px;
 	background-repeat: no-repeat;
 	background-position: left;
 	background-color: black;
 	background-attachment: fixed;
	background-size: cover;
 	padding-left: 270px;
 	padding-top: 200px;
	color: white;
}
.exampleone {
	background-color: green;
	color: white;
    text-align: center;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 25px;
}
.title {
	color: white;	
	text-align:justify;
	font-size: 25px;
}
footer
{
 padding: 5rem 3rem 1rem 3rem;

 color:white;
}

