body {
    background-color: azure;
}
nav {
	background-color: black;
	margin: -10px;
	padding: 1px;
}
.nav-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	padding-left: 80px;
}
.nav-flex-item {
	list-style-type: none;
	margin-right: 30px;
	margin-left: 30px;
}
.nav-flex-item.logo {
	margin-left: -50px;
	margin-right: 850px;
}
h1 {
	font-size: 50px;
	margin-top: 25px;
	text-align: center;
}


* {
	margin: 0;
	box-sizing: border-box;
 }
 body {
	background: #FFF9F2;
 }
 .post-wrap {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 }
 .post-item {
	padding: 20px;
 }
 .post-link {
	text-decoration: none;
	display: block;
 }
 .post-item-wrap {
	overflow: hidden;
	position: relative;
 }
 .post-item img {
	display: block;
	width: 100%;
 }
 .text-wrapper {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	width: 86%;
	padding: 20px;
	background: #FFEFD7;
	transform: translate3d(-100%, 0, 0);
	transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-item:hover .text-wrapper {
	transform: translate3d(0, 0, 0);
	transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
 }
 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: #D1AFA6;
	transform: translate3d(-100%, 0, 0);
	transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
 }
 .post-item:hover .overlay {
	transform: translate3d(0, 0, 0);
	transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-cat {
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #000200;
	font-weight: 500;
 }
 .post-title {
	font-size: 12px;
	font-weight: 400;
	color: #4A4A40;
	font-style: italic;
 }
 @media (min-width: 768px) {
	.post-item {
	   flex-basis: 50%;
	   flex-shrink: 0;
	}
 }
 @media (min-width: 960px) {
	.post-item {
	   flex-basis: 33.333333333%;
	}
 }

 .space { 
    padding: 80px; /* Поля */
    background: black; /* Цвет фона */
	color: white;
   }
h2 {
	font-size: 35px;
	text-align: right;
}

#block1 {
	height: 420px;
	float: left;
	display: block;
	width: 950px;
	margin: 2px;
}
#block1 h3{
	font-size: 45px;
}
#block2 {
	height: 420px;
	float: right;
	display: block;
	width: 850px;
	margin: 2px;
	color: black;
}
#block2 h3{
	font-size: 45px;
}
#block3 {
	height: 370px;
	background-color: black;
	float: right;
	display: block;
	width: 100%;
	margin: 2px;
	color: white;
}
#block3 h3{
	font-size: 45px;
}
h4 {
	font-size: 25px;
	text-align: center;
}
button{
    height:100px; 
    width:150px; 
    margin: -20px -50px; 
    position:relative;
    top:15%; 
    left:50%;
	background-color: red;
	color: #000200;
}
footer
{
 padding: 5rem 3rem 1rem 3rem;
 text-align: left;
 color:black;
 font-size: 20px;
}


.table_blur {
	background: #f5ffff;
	border-collapse: collapse;
	text-align: left;
	width: 750px;
    margin: auto;
	font-size: 25px;
  }
  .table_blur th {
	border-top: 1px solid #ffffff;	
	border-bottom: 1px solid #ffffff; 
	box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #999999;
	background: linear-gradient(#ffffff, #ffffff);
	color: white;
	padding: 10px 15px;
	position: relative;
  }
  .table_blur th:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 25%;
	height: 25%;
	width: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
  }
  .table_blur tr:nth-child(odd) {
	background: #000000;
	color: white;
  }
  .table_blur th:first-child {
	border-left: 1px solid #ffffff;	
	border-bottom:  1px solid #ffffff;
	box-shadow: inset 1px 1px 0 #ffffff, inset 0 -1px 0 #ffffff;
  }
  .table_blur th:last-child {
	border-right: 1px solid #ffffff;
	border-bottom:  1px solid #ffffff;
	box-shadow: inset -1px 1px 0 #ffffff, inset 0 -1px 0 #ffffff;
  }
  .table_blur td {
	border: 1px solid #000000;
	padding: 10px 15px;
	position: relative;
	transition: all 0.5s ease;
  }
  .table_blur tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #000000;
  }
  .table_blur tbody:hover tr:hover td {
	color: #000000;
	text-shadow: none;
  }